.tgl {
	display: none;

	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 4rem;
		height: 2rem;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
			content: "light_mode";
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ff7f00;
		}
    
		&:before {
			display: none;
		}
		
		@media (min-width: 38rem){
			width: 4em;
			height: 2em;
		}
		
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

.tgl-light {
	+ .tgl-btn {
		background: #999;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease-In;
		&:after {
			border-radius: 50%;
			background: #fff;
			transition: all .2s ease-In;
		}
	}
  
	&:checked + .tgl-btn {
		background: rgb(36, 41, 46);
		&::after {
			content: "dark_mode";
			color: #ffd400;
		}
	}
}