---
sitemap: false
---

@import "variables";
@import "typography";
@import "highlighter";
@import "site";
@import "custom/customMain";

/*--------------
  Dark Mode Color
  -------------- */
  $base-color: #c9d1d9;
  $base-lighten-color: #21262d;
  
  $background-color: #0d1117;
  $background-over-color: #21262d;
  
  $text-color: #c9d1d9;
  $link-color: #268bd2;
  $code-color: #bf616a;
  $code-background-color: #f9f9f9;
  $table-border-color: #21262d;
  $table-background-color: #21262d;
  
  body { 
    background: $background-color; 
    color: $base-color;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $base-color;
  }
  a {
    color: $link-color;
  }

  code {
    color: $code-color;
    background-color: $background-over-color;
  }
  
  pre {
    background-color: $background-over-color;
  }

  table {
    border: 1px solid $table-border-color;
  }
  
  td, th {
    border: 1px solid $table-border-color;
  }

  tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
    background-color: $table-background-color;
  }
  
  .header {
    &-title {
      a {
        color: $base-color;
      }
    }
    &-nav {
      a {
        color: $link-color;
        &:hover {
          color: $link-color;
        }
      }
    }
    &-small {
      a {
        color: $base-color;
      }
    }
  }
  
  .list {
    &-post {
      &:hover {
        background-color: $background-over-color;
      }
      a {
        color: $base-color;
      }
      &-date {
        color: $base-color;
      }
      &-desc {
        color: lighten($base-color, 20);
      }
    }
    &-pagination {
  
      &-previous {

        a {
          color: $base-lighten-color;
  
          &:hover,
          &:focus {
            color: $base-color;
          }
        }
      }
  
      &-next {
        a {
          color: $base-color;
  
          &:hover {
            color: $base-color;
          }
        }
      }
    }
  }

  .tag {
    &-index {
      a {
        background-color: $base-lighten-color;
        .count {
          background-color: $base-lighten-color;
        }
        &:hover {
          background-color: $link-color;
        }
      }
    }
    &-post {
      a {
        color: $link-color;  
        &:hover {
          color: $link-color;
          background-color: $background-over-color;
        }
      }
    }
  }

  .footer {
    color: $base-color;
    &-link {
      a {
        color: $base-color;
      }
    }
  }